
@font-face {
                          font-family: "TrebuchetMS";
                          src: url('../fonts/Trebuchet MS.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Prime-Regular";
                          src: url('../fonts/Prime-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Prime-Light";
                          src: url('../fonts/Prime-Light.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "TrebuchetMS-Bold";
                          src: url('../fonts/Trebuchet MS Bold.ttf') format("truetype");
                        }
                        
.styles {
  width               : 100%;
  min-width           : 357px;
  height              : 100vh;
  min-height          : 203px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.styles .rectangle {
  background-color    : rgba(0, 59, 136, 1.0);
  top                 : 131px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.styles .rectanglecopy {
  background-color    : rgba(121, 121, 121, 0.66);
  top                 : 131px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.styles .rectanglecopy3 {
  background-color    : rgba(253, 131, 8, 1.0);
  top                 : 131px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 206px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.styles .rectanglecopy2 {
  background-color    : rgba(4, 116, 219, 1.0);
  top                 : 131px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 143px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.styles .trebuchetms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "TrebuchetMS", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.styles .prime {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Prime-Regular", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.styles .primecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 95px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Prime-Light", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}